Python version used: 3.9


The following modules are used in this project:

csv
string
collections
nltk
spacy
re
sklearn (version = .23)
sklearn_crfsuite
pandas
numpy
sys
random
gensim
os
glob
string

Word embeddings used can be downloaded at:
https://code.google.com/archive/p/word2vec/
